@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
    padding: auto;
    margin-right: 0.3px;
    /*  margin-left: 0.3px; */
}

/* Example styles for grid view */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Example styles for list view */
.list-container {
    display: flex;
    flex-direction: column;
}

.list-item {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
}

/* Example of using CSS */
.z-34 {
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 400px;
    padding-top: 5px;
}

.z-34 .Tabs .Tab {
    /* Additional styling for centering tabs */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 5px;
    /* Ensures tabs container takes full height of parent */
}

.z-34 .TabList {
    /* Optionally, style the tab list if needed */
}

.z-34 .Tab {
    /* Optionally, style individual tabs */
}